

.Hola {

background-color: #ff4b4b;
margin-left: 10px;



}


.Holo {

margin-inline-start: 50px;
background-color: bisque;
-webkit-text-fill-color: blue;

}

.null {

background-color: rgb(130, 248, 173);




}