.Hola {

background-color: #b1f8ec;
margin-left: 10px;

}


.Holo {

margin-inline-start: 50px;
background-color: bisque;
-webkit-text-fill-color: blue;

}

.App-link {

    display: flex;
    margin: 20px;

}

.null {

background-color: rgb(130, 248, 173);


}